$color_brand: #fc431d;
$color_support_active: #50a831;
$color_support_free: #007dd7;
$color_support_none: $color_brand;
$color_text: white;

#mo_support {
  // Style tag.
  .mo-support-tag {
    display: inline-block;
    padding: .5em 1em;
    color: $color_text;
    border-radius: 4px;
    background: $color_brand;

    &--active {
      background: $color_support_active;
    }

    &--free {
      background: $color_support_free;
    }
  }
}
